 /* pac man font source http://www.classicgaming.cc/classics/pac-man/fonts*/

@font-face {
    font-family: "joystix";
    src: url("joystix.ttf");
}

@font-face {
    font-family: "pac-font";
    src: url("pac-font.ttf");
}

body {
  background-color: black;
  font-family: 'Audiowide', cursive;
}

canvas {
  padding: 5px;
  border-width: 3px;
  border-style: solid;
  border-color: #1532BC;
  border-radius: 10px;
}

.title-div {
  width: 1196px;
  display: block;
  font-family: "pac-font";
}

#title {
  text-align: center;
  font-size: 40px;
  color: #FFFF01;
}

.main-row {
  display: inline-flex;
  color: blue;
  font-size: 30;
  font-family: "joystix";
}

.left-col {
  text-align: center;
  width: 240px;
}

.right-col {
  text-align: center;
  width: 240px;
}

#sketch-holder-div {
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border-width: 3px;
  border-style: solid;
  border-color: #1532BC;
  border-radius: 10px;
}

/*reuseable classes*//*reuseable classes*//*reuseable classes*/
.center {
  text-align: center;
}

.green-out {
  outline-color: green;
  outline-style: solid;
  outline-width: 1px;
}
.red-out {
  outline-color: red;
  outline-style: solid;
  outline-width: 1px;
}
