body {
  text-align: center;
  background-color: black;
}

canvas {
  padding: 5px;
  border-width: 3px;
  border-style: solid;
  border-color: #1532BC;
  border-radius: 10px;
}

h1 {

}

p {
  font-family: 'Audiowide', cursive;
  font-size: 40px;
}

#title {
  color: #FFFF01;
}

#sketch-holder-div {
  margin: 0 auto;
  width: auto;
  height: auto;
  padding-top: 4px;
  border-width: 3px;
  border-style: solid;
  border-color: #1532BC;
  border-radius: 10px;
}

.center {
  text-align: center;
}

.main-row {

}
